---
import { ViewTransitions } from 'astro:transitions';

import Link from '../components/Link.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro fixer</title>
    <ViewTransitions />
	</head>
	<body class="bg-gray-800 text-white">
    <nav class="flex gap-x-6 p-6">
      <Link href="/eeafigure-graph">EEAFigure (graph)</Link>
      <Link href="/eeafigure-map">EEAFigure (map)</Link>
			<Link href="/daviz-visualization">DavizVisualization</Link>
			<Link href="/gis-map-application">GIS map application</Link>
      <Link href="/dashboard">Dashboard</Link>
      <Link href="/infographic">Infographic</Link>
    </nav>
    <main class="p-4">
      <slot />
    </main>
	</body>
</html>
